#footer {
  bottom: 0;
  background-color: #eff0f1;
  width: 100%;
  height: 16%;
}
#logo-footer {
  width: 6%;
  margin-left: 5%;
  margin-right: 2%;
}
.menu,
#help {
  font-size: 0.65em;
  font-weight: 400;
  margin-left: 5%;
}
#help {
  margin-left: 0.5%;
}
#help-footer {
  margin-left: 30%;
}
