<h1 class="mat-display-1">Registro de alertas</h1>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>
    
    <!-- Position Column -->
    <ng-container matColumnDef="hour">
      <th mat-header-cell *matHeaderCellDef> Hora </th>
      <td mat-cell *matCellDef="let element"> {{element.hour}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="camera">
      <th mat-header-cell *matHeaderCellDef> Cámara </th>
      <td mat-cell *matCellDef="let element"> {{element.camera}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="list">
      <th mat-header-cell *matHeaderCellDef> Lista </th>
      <td mat-cell *matCellDef="let element"> {{element.list}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="personId">
      <th mat-header-cell *matHeaderCellDef> Id de persona </th>
      <td mat-cell *matCellDef="let element"> {{element.personId}} </td>
    </ng-container>

    <!-- Coment Column -->
    <ng-container matColumnDef="coment">
        <th mat-header-cell *matHeaderCellDef> Comentario </th>
        <td mat-cell *matCellDef="let element"> {{element.coment}} </td>
      </ng-container>

    <!-- Coment Column -->
    <ng-container matColumnDef="attended">
        <th mat-header-cell *matHeaderCellDef> Atendido </th>
        <td mat-cell *matCellDef="let element"> {{element.attended}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'greenRow': row.list == 'Black List' && row.attended, 'redRow': row.list == 'Black List' && !row.attended  }"></tr>
  </table>
  
  