<app-nav-bar></app-nav-bar>
<div id="people-comp">
  <mat-form-field class="filter">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    <mat-icon id="help-footer" matSuffix>filter_list</mat-icon>
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
    <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef> Picture </th>
      <td class="avatar" mat-cell *matCellDef="let element">
          <img src="https://cdn.orvis.com/images/DBS_ShibaInu_1280.jpg" alt="avatar">
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone number </th>
      <td mat-cell *matCellDef="let element"> 
        <p class="phone">{{element.phone}}</p>
        <div class="more">
          <button mat-icon-button>
            <mat-icon class="edit" (click)="openEdit()">edit</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon class="delete" (click)="openDelete()">delete_outline</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> 
</div>
